@import "../../utils/helpers.scss";

.Flights {
  width: 1140px;
  padding: 0 10px;

  &__tabs {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 60px 60px 0 0;
    height: 60px;
  }

  &__button {
    border-radius: 60px 60px 0 0;
    cursor: pointer;
    color: white;
    background: $light-blue;
    text-transform: uppercase;
    font-size: 24px;
    border: 0;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 0;
    outline: none;
    position: absolute;
    right: 0;
    width: calc(50% + 100px);

    &:first-child {
      left: 0;
    }

    &:hover {
      background: $blue;
    }

    &--active {
      background: white;
      color: $blue;
      z-index: 10;

      &:hover {
        background: white;
      }
    }
  }

  &__table {
    background: white;
    width: 100%;
  }

  &__table-header {
    padding: 12px;
    font-size: 16px;
    color: $gray;
    font-weight: 600;
    text-align: left;

    &:first-child {
      text-align: center;
    }
  }

  &__terminal {
    font-size: 22px;
    border: 1px solid $green;
    color: $green;
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    font-weight: 700;

    &--blue{
      border: 1px solid $blue;
      color: $blue;
    }
  }

  &__data {
    font-size: 18px;
    line-height: 40px;
    padding: 16px 10px;
    color: $black;
  }

  &__table-row {

    &:nth-child(odd) {
      background: rgba(0, 102, 135, .1);
    }
  }

  &__dates-navigation {
    padding: 25px 0 35px 0;
    background: white;
  }

  &__change-date-button {
    color: $light-gray;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-appearance: none;
    border: 0;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
    outline: none;

    &::after {
      content: '';
      height: 3px;
      background:$light-gray;
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
    }
  }

  &__date-text {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
  }
}