@import "../../utils/helpers.scss";

.Flights {
  width: 1140px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__tabs {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 60px 60px 0 0;
    height: 60px;
  }

  &__departure-icon {
    width: 40px;
    height: 28px;
    margin-right: 15px;

    & .Flights__plane-icon {
      fill: white;
    }
  }

  &__button {
    border-radius: 60px 60px 0 0;
    cursor: pointer;
    color: white;
    background: $light-blue;
    text-transform: uppercase;
    font-size: 24px;
    border: 0;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 0;
    outline: none;
    position: absolute;
    right: 0;
    width: calc(50% + 100px);
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      left: 0;
    }

    &:hover {
      background: $blue;
    }

    &:focus {
      background: $blue;
    }

    &--active {
      background: white;
      color: $blue;
      z-index: 10;

      .Flights__plane-icon {
        fill: $blue;
      }

      &:hover {
        background: white;
      }

      &:focus {
        color: $light-blue;
        background: white;

        .Flights__plane-icon {
          fill: $light-blue;
        }
      }
    }
  }

  &__table {
    background: white;
    width: 100%;
  }

  &__table-header {
    padding: 12px;
    font-size: 16px;
    color: $gray;
    font-weight: 600;
    text-align: left;

    &:first-child {
      text-align: center;
    }
  }

  &__terminal {
    font-size: 22px;
    border: 1px solid $green;
    color: $green;
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    font-weight: 700;

    &--blue {
      border: 1px solid $blue;
      color: $blue;
    }
  }

  &__reminder-button {
    color: $blue;
    text-decoration: underline;
    font-size: 18px;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      color: $light-blue;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__data {
    font-size: 18px;
    line-height: 40px;
    padding: 16px 10px;
    color: $black;
  }

  &__table-row {
    transition: box-shadow .3s ease-in-out;

    &:nth-child(odd) {
      background: rgba(0, 102, 135, .1);
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
  }

  &__dates-navigation {
    padding: 25px 0 35px 0;
    background: white;
    display: flex;
    align-items: flex-end;
  }

  &__calendar-icon {
    width: 30px;
    height: 26px;
  }

  &__calendar {
    margin-left: 20px;
  }

  &__current-date {
    font-size: 12px;
    font-weight: 700;
    display: block;
    color: $blue;
    text-align: center;
  }

  &__calendar-wrapper {
    width: 40px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $blue;
  }

  &__navigation-wrapper {
    margin-left: 30px;
  }

  &__change-date-button {
    color: $light-gray;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-appearance: none;
    border: 0;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
    outline: none;
    background: transparent;
    line-height: 24px;
    margin: 0;

    &:focus {
      color: $light-blue;

      &:after {
        background: $light-blue;
      }
    }

    &::after {
      content: '';
      height: 3px;
      background: $light-gray;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &__date-text {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
    line-height: 18px;
  }
}

@media screen and (max-width: 1160px) {
  .Flights {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .Flights {
    width: 100vw;
    padding: 0;

    &__tabs {
      width: 720px;
      align-self: center;
    }

    &__button--active {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .Flights {

    &__tabs {
      width: 100%;
      height: 50px;
    }

    &__thead {
      display: none;
    }

    &__button {
      font-size: 14px;
      justify-content: flex-start;
      padding: 5px 0;

      &:first-child {
        border-radius: 0 30px 0 0;
      }

      &:last-child {
        flex-direction: row-reverse;
        border-radius: 30px 0 0 0;
      }
    }

    &__departure-icon {
      margin: 0 10px;
    }

    &__calendar {
      margin-left: 10px;
    }

    &__data {
      padding: 5px;
    }

    &__terminal, &__gate {
      display: none;
    }

    &__flight-number {
      font-size: 14px;
      color: $gray;
    }

    &__table-row {
      display: grid;
      grid-template-columns: 30% 50% 20%;
      grid-template-areas: "time city ." ". status reminder" "flight-number airlines .";
    }

    &__time {
      grid-area: time;
    }

    &__city {
      grid-area: city;
    }

    &__status {
      grid-area: status;
    }

    &__reminder {
      grid-area: reminder;
    }

    &__flight-number-field {
      grid-area: flight-number;
    }

    &__airlines {
      grid-area: airlines;
    }
  }
}

@media screen and (max-width: 470px) {
  .Flights {

    &__table-row {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}


