@import "../../utils/helpers.scss";

.Search {
  margin-bottom: 40px;

  &__title {
    font-weight: 300;
    font-size: 70px;
    color: $black;
    margin-bottom: 32px;
    margin-top: 20px;
    text-transform: uppercase;
  }

  &__icon{
    width: 44px;
    height: 43px;
    margin: 0 13px ;
  }

  &__form {
    display: flex;
    height: 80px;
  }

  &__field {
    width: 520px;
    background: white;
    display: flex;
    align-items: center;
  }

  &__input {
    font-size: 24px;
    color: black;
    height: 100%;
    width: calc(100% - 70px);
    border: 0;
    outline: none;
    font-family: $open-sans;

    &::placeholder {
      color: #95989a;
    }
  }

  &__submit-button {
    text-transform: uppercase;
    background: $blue;
    color: white;
    font-size: 26px;
    min-width: 200px;
    cursor: pointer;
    font-weight: 700;
    padding: 0 20px;
    text-align: left;
    border-radius: 0 80px 0 0;
    border: 0;
    transition: border-radius 0.3s ease-in-out;
    outline: none;

    &:hover {
      border-radius: 0 40px 0 0;
    }
  }
}